#pie{
  width:40%;
  height: 50%;
}
#time-container{
  position: fixed;
  left:40%;
  width: 60%;
  height: 55%;
}
#date-selector {
  float: left;
}
#select{
  position: fixed;
  top: 50%;
  height: 50%;
  width:7%;
}
#checkoxes{
  width:70%;
}
#desc{
  position: fixed;
  top: 50%;
  height: 50%;
  left:10%
}
#lang{
  position: fixed;
  top: 50%;
  left: 40%;
  height: 50%;
}
#stats{
  position: fixed;
  top:50%;
  left:70%;
  height: 50%;
}
